 <ul class="menu">
      <li><a class="item" href="index.html">Home</a></li>
      <li><a class="item active" href="index-1.html"><span>About Us</span></a></li>
      <li><a class="item last" href="index-5.html">Contact Us</a></li>
  </ul>