<!--==============================header=================================-->
    <header>
    	<div class="bg">
        	<div class="main">
                <div class="container_24">
                    <div class="wrapper">
                    	<div class="grid_24 alpha">
                        	<div class="wrapper border-bot">
                            	<div class="grid_11 alpha">
                                    <h1>
                                        <a class="logo" href="index.html"><%= image_tag 'logo.png'%></a>
                               
                                    </h1>
                                </div>
                                <div class="grid_13 omega">
                                	<div class="wrapper">
                                    	<ul class="register-list">
                                            <li class="first"><a href="#">New User</a></li>
                                            <li><a href="#">Register</a></li>
                                            <li><a href="#">Sign in</a></li>
                                            <li><a href="#">Help</a></li>
                                        </ul>
                                        <form id="search-form" action="" method="post" enctype="multipart/form-data">
                                            <fieldset>			
                                                <input type="text" name="search" />
                                                <a href="#" onClick="document.getElementById('search-form').submit()"></a>								
                                            </fieldset>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_24 alpha omega index">
                    	<nav>
                           <%= render :partial => 'nav'%>
                        </nav>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>     
    </header>
<!--==============================content================================-->
        <div class="padding">
            <div class="main">
                <div class="container_24">
                    <div class="wrapper p5">
                        <article class="grid_7 suffix_1">
                            <h3>Welcome</h3>
                            <ul class="list-2">
                            	<li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </article>
                        <article class="grid_16">
                            <h3>AnnaCo Investment Management</h3>
                            <h4>What Should You Look For In An Investment Manager?</h4>
                            <br/>
                            <p>Investing is a full-time job. But chances are other obligations reduce the time you can dedicate to it. That's why people turn to an investment manager to help them decide how best to manage their money. It's also very important that you choose a manager suited to your needs and plans. At AnnaCo, you can partner with investment professionals who respect how hard you've worked to earn your assets and follow an unwavering investment philosophy, rather than simply mimic what's in vogue. We believe the patient and consistent applications of a single investment discipline best serves investors over the long term.</p>
                            <br/>
                            <h4>Our Investment Philosophy</h4>
                            <p>Utilizing individual securities, we take a disciplined and conservative approach to investing, so the accounts we manage generally have a slightly lower risk profile than the market. As a result, our portfolios tend to be less susceptible to market volatility and yet consistently deliver solid risk-adjusted returns. Within this context, we also recognize that each client is unique. Accordingly, we work with you to build an investment program that is specifically tailored to your needs and objectives.</p>
                        </article>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="bg-2">
        	<div class="main">
            	<div class="container_24">
                	<div class="wrapper">
                    	
                    </div>
                </div>
            </div>
        </div>
    