
<script>
$(document).ready(function() {			
	$(".jCarouselLite").jCarouselLite({
		  btnNext: "._next",
		  btnPrev: "._prev",
		  auto: 6000,
  
		  speed: 500,
		  easing: 'easeInQuad',
  
		  vertical: true,
		  circular: true,
		  visible: 4,
		  start: 0,
		  scroll: 1
	  });
});
</script>

<!--==============================content================================-->
    <section id="content">

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="padding">
            <div class="main">
                <div class="container_24">
                    <div class="wrapper p5">
                        <article class="grid_7 suffix_1">
                            <h3>About</h3>
                            <ul class="list-2">
                            	<li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </article>
                        <article class="grid_16">
                            
                            <h4>The Organization</h4>
                            <br/>
                            <p>Founded in the fall of 1987, AnnaCo is an independent state-registered investment management firm. We manage investment
                            portfolios for individuals, pension and profit sharing plans, foundations, endowments, and trusts.</p>
                            <br/>
                            <h4 id="staff" name="staff">Staff</h4>
                            <br/>
                            <p><strong style="color: #800000">Philip O. Howeth</strong> is a Portfolio Manager and is also the firm's President and Treasurer. He joined AnnaCo
                            in 1987, and has overseen all aspects of the firm's operations since its inception. Phil earned a B.A. in
                            Accounting from Carroll College. He is a member of the Downtown Helena Kiwanis Club and serves on
                            the Carroll College Investment Committee.</p>
                              
                            <p><strong style="color: #800000">Kerry R Neils, CFA</strong>, is a Portfoli0 Manager, Vice President and Corporate Secretary.He received his B.A.
                            in Finance and Accounting from Carroll College in 1980. A few years later Kerry earned the Chartered
                            Financial Analyst (CFA) designation after completing a multi-year learning program covering all aspects of
                            securities analysis and portfolio management. He joined AnnaCo Investment Management in 1990 after
                            gaining valuable work experience in finance and investments at The Montana Power Company and The
                            Montana Board of Investments.</p>
                                
                                  
                            <p><strong style="color: #800000">  Amy M. Christensen, CTFA</strong>, is an Account Administrator and joined the firm in 2008. Prior to joining us,
                              she spent 10 years in Trust Administration with Wells Fargo Wealth Management Group. A Montana
                              native, Amy graduated from the UM-Western in 1995 with a Bachelor of Liberal Studies degree with
                              emphasis in Communication Technology/Administrative Science, and Associate in Business degree, and an
                              Associate in Human Resource Management degree. She is a Certified Trust and Financial Advisor (CTFA)
                              and a graduate from the Cannon Trust School.</p>
                              
                               <p><strong style="color: #800000">David R. Bruck</strong> markets the firm, following a highly successful career in the insurance agency business
                               where he was the principal owner of Montana International Insurance, Inc. Dave became associated with
                               AnnaCo in 1991 after selling the agency to US Bank. Dave attended MSU-Bozemar' and MSU-Billings. He
                               served a three year active duty with the US Marines. He also held the insurance professional designation of
                               CIC. Dave was an adjunct professor at Carroll College for six years, teaching Risk Management.</p>
                              
                              
                        </article>
                    </div>
                    
                </div>
            </div>
        </div>
        <br/>
        <div class="bg-2">
        	<div class="main">
            	<div class="container_24">
                	<div class="wrapper">
                    
                    
                        <article>
                        	<h4 class="border-bot2 p2">Services</h4>
                            <ul class="list-1">
                            	<li>Security selection</li>
                                <li>Portfolio management</li>
                                <li>Periodic formal investment review</li>
                                <li>Vote proxies</li>
                                <li>Monthly account reconciliation</li>
                                <li>Accounting of income</li>
                                <li>Deposit and money transfer</li>
                                <li>Quarterly portfolio appraisals</li>
                            </ul>
                        </article>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--==============================footer=================================-->

