
<script>
$(document).ready(function() {			
	$(".jCarouselLite").jCarouselLite({
		  btnNext: "._next",
		  btnPrev: "._prev",
		  auto: 6000,
  
		  speed: 500,
		  easing: 'easeInQuad',
  
		  vertical: true,
		  circular: true,
		  visible: 4,
		  start: 0,
		  scroll: 1
	  });
});
</script>

<!--==============================content================================-->
    <section id="content">

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="padding">
            <div class="main">
                <div class="container_24">
                    <div class="wrapper p5">
                        <article class="grid_7 suffix_1">
                            <h3>Contact</h3>
                            <ul class="list-2">
                            	<li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </article>
                        <article class="grid_16">
                          
                            <div id='contact_people'>
                               <h4>President</h4>
                                <p>Philip O. Howeth <br/> <%= mail_to 'phil@annacoim.com' %></p>

                                <h4>Vice President</h4>
                                <p>Kerry R. Neils, CFA<br/> <%= mail_to 'kerry@annacoim.com' %></p>

                                <h4>Account Administrator</h4>
                                <p>Amy M. Christensen, CTFA<br/> <%= mail_to 'amy@annacoim.com' %></p>
                              
                            </div>
                            
                            <h4>Office</h4>
                            <br/>
                            <p>
                              1728 9th Avenue<br/>
                              Helena, MT 59601<br/>
                              (406) 442-2400<br/>
                              (866) 840-7225
                            </p>
                    
                           
                         
                              
                              
                        </article>
                    </div>
                    
                </div>
            </div>
        </div>
        <br/>
        <div class="bg-2">
        	<div class="main">
            	<div class="container_24">
                	<div class="wrapper">
                        <article>
                        	<h4 class="border-bot2 p2">Services</h4>
                            <ul class="list-1">
                            	<li>Security selection</li>
                                <li>Portfolio management</li>
                                <li>Periodic formal investment review</li>
                                <li>Vote proxies</li>
                                <li>Monthly account reconciliation</li>
                                <li>Accounting of income</li>
                                <li>Deposit and money transfer</li>
                                <li>Quarterly portfolio appraisals</li>
                            </ul>
                        </article>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--==============================footer=================================-->

