.menu {
	padding:0; 
	width:100%;
}
.menu li {
	float:left; 
	position:relative;
}
.menu li a {
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	font-size:18px; 
	line-height:3.44em; 
	padding:0; 
	color:#222221; 
	text-align:center;
	background:url(/assets/spacer-2.gif) right 20px no-repeat;
}
.menu li a span {
	display:block;
	background:url(/assets/menu-marker.gif) center 46px no-repeat;
}
.menu li a.item {width:158px;}
.menu li a.last {background:none;}
.menu li a.active, .menu li a:hover, .menu li.sfHover > a {
	color:#fff;
	background:url(/assets/menu-a-hover.gif) 0 0 repeat;
}
.menu li a.active span, .menu li a:hover span, .menu li.sfHover > a span {background:none;}

.menu ul {
	position:		absolute;
	padding:		0;
	top:			-999em;
	width:			140px;
}
.menu ul li {width:	100%;}
.menu li:hover {visibility:	inherit; }
.menu li li {margin-bottom:	1px;}
.menu li li a {
	padding:		0;
	line-height:	60px;
	color:			#fff;
	background:url(/assets/menu-li-li-tail.png) 0 0 repeat;
}
.menu li li a:hover, .menu li li.sfHover > a {background:#a80c06;}

.menu li:hover ul, .menu li.sfHover ul {
	left:			0px;
	top:			65px;
	z-index:		999;
}
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
	top:			-999em;
}
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
	left:			141px;
	top:			0px;
	z-index:		9999;
}
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
	top:			-999em;
}